
<%- include('header') -%> 

  <!-- I will make all the non html code in between <% %> (each line) -->

  <% if( dayToday === 'Saturday' || dayToday === 'Sunday'){ %> 
    <h1 style="background-color: yellow;"> <%= dayToday %> !</h1>
  <% }else{ %> 
    <h1 style="background-color: orange;"> <%= dayToday %> !</h1>
  <% } %> 

    <div class="container">
      <% itemAdded.forEach((item) => { %>
        <form action="/delete" method="post">
          <p><input name="itemDelete" type="checkbox" onchange="this.form.submit()" value=<%= item.id %>> <span><%= item.name %></span></p>
          <!-- this is hidden  -->
          <input type="hidden" name="deleteItem" value=<%= dayToday %>  > 

        </form>
      <% }) %>

    </div>

    

  <form action="/" method="post">
    <input name="task" type="text" placeholder="enter the task" autocomplete="off" required>
  <button type="submit" name="submitbutton" value=<%= dayToday %>>Add items</button>
  </form>
  
<%- include('footer') -%> 
