
<%- include('header') -%> 

  <!-- I will make all the non html code in between <% %> (each line) -->

  <% if( dayToday === 'Saturday' || dayToday === 'Sunday'){ %> 
    <h1 style="background-color: yellow;">Today is <%= dayToday %> !</h1>
  <% }else{ %> 
    <h1 style="background-color: orange;">Today is <%= dayToday %> !</h1>
  <% } %> 

    <div class="container">
      <% itemAdded.forEach((item) => { %>
        <p><input type="checkbox" > <span><%= item.name %></span></p>
      <% }) %>

    </div>

    

  <form action="/" method="post">
    <input name="task" type="text" placeholder="enter the task" autocomplete="off" required>
  <button type="submit" name="submitbutton" value=<%= dayToday %>>Add items</button>
  </form>
  
<%- include('footer') -%> 
